<div class="tit"><a  title="返回根目录"><img src="/static/images/Default/public/logo-photo.png" /></a></div>
<div class="search">
    <input id="txtSearch" class="input" maxlength="30" style="color:#ccc;" value="请输入关键字" onfocus="if(value=='请输入关键字') {value=''}" onblur="if (value=='') {value='请输入关键字'}" />
    <i id="btnSearch"></i>
</div>
<div class="lefttitle">
    <span id="plistspan">照片列表</span>
    <i id="btnAddFolder"></i>
</div>
<div class="treelist" id="treelist" avl="0">
    <ul>
    </ul>
</div>
<!--<div class="lefttitle">-->
    <!--<span>共享文件</span>-->
<!--</div>-->
<!--<div class="shareFlieList" id="shareFlieList">-->
    <!--<ul>-->
        <!--<li>-->
            <!--<div class="shareFlie-bar">-->
                <!--<span class="shareIcon share-photoIcon"></span>-->
                <!--<span class="shareFlieName">共享文件名</span>-->
                <!--<span class="shareUserName">共享用户名</span>-->
            <!--</div>-->
            <!--<div class="shareFlie-password">-->
                <!--&lt;!&ndash;<input type="text" value="请输入密码" class="sharePassword">&ndash;&gt;-->
                <!--<div id="sharePassword_text" class="sharePassword"-->
                     <!--onclick="this.style.display='none';document.getElementById('sharePasswordInput').style.display='block';document.getElementById('sharePasswordInput').focus().select();" >请输入密码</div>-->
                <!--<input name="sharePassword" class="sharePassword" type="password" id="sharePasswordInput" style="display:none;"-->
                       <!--onblur="if(this.value==''){document.getElementById('sharePassword_text').style.display='block';this.style.display='none'};"/>-->
                <!--<i class="sharePasswordBtn">确定</i>-->
            <!--</div>-->
        <!--</li>-->
        <!--<li>-->
            <!--<div class="shareFlie-bar">-->
                <!--<span class="shareIcon share-photoIcon"></span>-->
                <!--<span class="shareFlieName">共享文件名</span>-->
                <!--<span class="shareUserName">共享用户名</span>-->
            <!--</div>-->
        <!--</li>-->
    <!--</ul>-->
<!--</div>-->