<div id="popupLayer_vphoto" class="popup-layer">
    <div id="popupLayerBox_vphoto" class="popup-layer-box vphoto">
        <i id="closePopupLayer_vphoto" class="close-popupLayer"></i>
        <div id="vpic">
            <ul>
                <li > <button type="button" class="vbtn-prev" id="vbtn-prev">&nbsp;</button> </li>
                <li class="full-image"> <img id="bpic" src="" prv=""> </li>
                <li > <button type="button" class="vbtn-next" id="vbtn-next">&nbsp;</button> </li>
            </ul>
            <div class="image-text"><span id="spname"></span> </div>
        </div>
    </div>
</div>