 
 
<article>
    <p class="aboutp1">
        <img src="/Images/Default/Home/icon-logo-about.png" />
    </p>

    <p class="aboutp2">
        Version: 1.0.0.1
    </p>

    <p class="aboutp3">
        www.winsun.com
    </p>
    <p class="aboutp4">
        版权所有 &copy; 2014 上海闻上信息技术有限公司
    </p>
</article>
 