
<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ie上传</title>
    <link rel="stylesheet" type="text/css" href="/static/js/webuploader-0.1.5/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/js/webuploader-0.1.5/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/static/js/webuploader-0.1.5/style.css">
    <link rel="stylesheet" type="text/css" href="/static/js/webuploader-0.1.5/webuploader.css">

</head>

<body>
<div id="uploader" class="wu-example">
    <div id="thelist" class="uploader-list"></div>
    <div class="btns">
        <div id="picker">选择文件</div>
        <button id="ctlBtn" class="btn btn-default">开始上传</button>
    </div>
</div>


<script type="text/javascript" src="/static/js/webuploader-0.1.5/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="/static/js/public.js"></script>
<script type="text/javascript" src="/static/js/webuploader-0.1.5/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/webuploader-0.1.5/webuploader.js"></script>

<script type="text/javascript">
    // 添加全局站点信息
    var BASE_URL = '/static/js/webuploader-0.1.5';

    var act = unescape(getQueryString("act"));
    var type  = getQueryString("type");
    var sizes = "40960";
    var datas=null;

    // alert(act+'||'+type)
    switch(type)
    {
        case "1" : datas =[{ title: "图片文件", extensions: "jpg,png,gif,bmp,jpeg",mimeTypes:"image/*" }]; sizes="52428800"; break;
        case "2" : datas =[{ title: "视频文件", extensions: "mp4,flash,mid,3gp,wma,avi,rmvb,rm,mkv,mov,wmv",mimeTypes:"video/*" }]; sizes="99990000000"; break;
        case "3" : datas =[{ title: "音频文件", extensions: "mp3,wav,wma",mimeTypes:"music/*" }];sizes="52428800"; break;
        default:datas=null;sizes = "99990000000"; break;
    }

    jQuery(function() {
        var $ = jQuery,
                $list = $('#thelist'),
                $btn = $('#ctlBtn'),
                state = 'pending',
                uploader;

        uploader = WebUploader.create({
            // 不压缩image
            resize: false,
            // swf文件路径
            swf: BASE_URL + '/Uploader.swf',
            // 文件接收服务端。
            server: '/default/uploadfile/upfile/',

            accept:datas,
            fileSingleSizeLimit:sizes,   //单个文件大小限制
            formData:{ 'act': act ,'type':type },
            threads:1,
            // 选择文件的按钮。可选。
            // 内部根据当前运行是创建，可能是input元素，也可能是flash.
            pick: '#picker',
            chunked:true,    //是否要分片处理大文件上传
            chunkSize:5242880,   //如果要分片，分多大一片？ 默认大小为5M
            chunkRetry:5    //如果某个分片由于网络问题出错，允许自动重传多少次
        });

        // 当有文件添加进来的时候
        uploader.on( 'fileQueued', function( file ) {
            $list.append( '<div id="' + file.id + '" class="item">' +
                    '<h4 class="info">' + file.name + '</h4>' +
                    '<p class="state">等待上传...</p>' +
                    '</div>' );
        });

        // 文件上传过程中创建进度条实时显示。
        uploader.on( 'uploadProgress', function( file, percentage ) {
            var $li = $( '#'+file.id ),
                    $percent = $li.find('.progress .progress-bar');

            // 避免重复创建
            if ( !$percent.length ) {
                $percent = $('<div class="progress progress-striped active">' +
                        '<div class="progress-bar" role="progressbar" style="width: 0%">' +
                        '</div>' +
                        '</div>').appendTo( $li ).find('.progress-bar');
            }

            $li.find('p.state').text('上传中');
            $percent.css( 'width', percentage * 100 + '%' );
        });

        uploader.on( 'uploadSuccess', function( file ) {
            $( '#'+file.id ).find('p.state').text('已上传');
        });

        uploader.on( 'uploadError', function( file ) {
            $( '#'+file.id ).find('p.state').text('上传出错');
        });

        uploader.on( 'uploadComplete', function( file ) {
            $( '#'+file.id ).find('.progress').fadeOut();
        });

        uploader.on( 'all', function( type ) {
            if ( type === 'startUpload' ) {
                state = 'uploading';
            } else if ( type === 'stopUpload' ) {
                state = 'paused';
            } else if ( type === 'uploadFinished' ) {
                state = 'done';
            }

            if ( state === 'uploading' ) {
                $btn.text('暂停上传');
            } else {
                $btn.text('开始上传');
            }
        });

        $btn.on( 'click', function() {
            if ( state === 'uploading' ) {
                uploader.stop();
            } else {
                uploader.upload();
            }
        });

        uploader.on('error', function(){
            alert("error");
        })
    });

</script>

</body>
</html>
