{% extends "Default/Shared/ContentMaster.html"%}

<!--标题-->
{% block title %}
<title>新建用户组 - MiniNas管理系统</title>
{% endblock %}
<!--css-->
{% block css %}
{% endblock %}
<!--javascript-->
{% block javascript %}
{% endblock %}

{% block body %}
<div class="road">
    <span class="suninfo_str">系统管理 > 共享与权限 > 用户群组</span>
</div>
<div class="rtgy-box">
    <h3>用户群组 - 编辑</h3>
    <div class="systemRt-cont4" id="systemRt-cont">
        <div class="set">
            <h6><span class="icon-l"></span><span class="msg">基础设置</span></h6>
            <div class="group clear">
                <label class="suninfo_cont_str">名称：</label>
                <input class="w260" id="GroupName" name="GroupName" type="text" value="" />
                <span class="msg"><font>*</font>用户群组名称。【中文、英文、数字、下划线、4-16个字符】</span>
            </div>
            <div class="group clear">
                <label class="suninfo_cont_str">描述：</label>
                <textarea class="txtRemark" cols="20" id="Description" name="Description" rows="2"></textarea>
                <span class="msg">【不超过100个字符】</span>
            </div>
        </div>
        <input id="GroupId" name="GroupId" type="hidden" value="1" />
        <div class="sure_btn mlf_180 pbt_50">
            <input type="submit" id="btnSub" class="reboot mrt_20" value="保存" />
            <a href="/default/system/usergroup">取消</a>
        </div>
    </div>
</div>
{% endblock %}

{% block popup %}

{% endblock %}


{% block footerJavascript %}
<script>
    $(function() {
        $('#systemRt-cont').niceScroll({
            cursorcolor: "#999",
            cursoropacitymax: 1,
            touchbehavior: false,
            cursorwidth: "5px",
            cursorborder: "0",
            cursorborderradius: "5px"
        });
        var groupid = getQueryString("gid");

        var datas ={groupid:groupid};
        $.post("/default/system/getuginfo", datas, function(data) {
            // alert(JSON.stringify(data.data));
            var jsonObj=data.data;
            $("#GroupName").val(jsonObj.groupname);
            $("#Description").val(jsonObj.describe);
        });

        $("#btnSub").click(function() {
            var groupName = $("#GroupName").val();
            var remark = $("#Description").val();

            if(groupName.length<1)
            {
                alert("用户群组名称不能为空!");
                $("#GroupName").focus();
                return false;
            }
            var patternGroupname = /^[\u4e00-\u9fa5A-Za-z0-9]{4,16}$/;    //中文、英文、数字、下划线、4-16个字符
            var flagGroupName = patternGroupname.test(groupName);
            if(!flagGroupName)
            {
                alert("输入的用户群组名称格式有误，请重新输入！")
                return false;
            }
            if(remark.length>100)
            {
                alert("群组描述不超过100个字符!");
                $("#txtGroupName").focus();
                return false;
            }

            var datas = {groupid:groupid,groupname :groupName,describe:remark};
            $.post("/default/system/editug", datas, function(data) {
                if(data.returncode=="100100000")
                {
                    alert("提交成功!");
                    window.location = "usergroup.html";
                }
                else if(data.returncode == "100102246"){
                    alert(data.message)
                    window.parent.location = "/";
                }
                else
                {alert(data.message);}
            });

        })
    })
</script>
{% endblock %}
