{% extends "Default/Shared/ContentMaster.html"%}

<!--标题-->
{% block title %}
<title>新建用户组 - MiniNas管理系统</title>
{% endblock %}
<!--css-->
{% block css %}
{% endblock %}
<!--javascript-->
{% block javascript %}
{% endblock %}

{% block body %}
<div class="user_add">
    <div class="user_add_lf user_add_bg"></div>
    <div class="user_add_ct">
        <a id="add_btn" class="add_btn" ns="User" href="addsharefolder.html">新建共享文件夹</a>
    </div>
    <div class="user_add_rt user_add_bg"></div>
</div>
<div class="road">
    <span class="suninfo_str">系统管理 > 共享与权限 > 共享文件夹</span>
</div>
<div class="rtgy-box">
    <h3>共享文件夹</h3>
    <div class="systemRt-cont2" id="systemRt-cont">
        <div class="tabBox mtp_10 shareFolderTab">
            <table id="user_list" width="100%" border="0" cellspacing="0" cellpadding="0" class="tab01">
                <thead>
                <tr class="tab_mean">

                    <td class="FileName">名称</td>
                    <td class="Capacity">是否可见</td>
                    <td class="Description">
                        <table class="i">
                            <tr>
                                <td class="tf">
                                    <div class="txt_hidden">描述</div>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="operation">操作</td>
                </tr>
                <tr style="height:16px;"></tr>
                </thead>
                <tbody id="grouplist">
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block popup %}

{% endblock %}


{% block footerJavascript %}
<script type="text/javascript">
    $(function(){
        $('#systemRt-cont').niceScroll({
            cursorcolor: "#999",
            cursoropacitymax: 1,
            touchbehavior: false,
            cursorwidth: "5px",
            cursorborder: "0",
            cursorborderradius: "5px"
        });
        loadList();
        $('#grouplist').on('click', '.btnDel', function (index, eleDom) {
            var id = $(this).parents("tr").attr("prv");
            var datas = {
                sid: id
            };

            if (confirm("您确定要删除共享文件吗?")) {
                $.post("/default/system/delsharefolder", datas, function(data) {
                    if(data.returncode=="100100000")
                    {
                        alert("删除成功!");
                        loadList();
                    }
                    else if(data.returncode == "100102246"){
                        alert(data.message)
                        window.parent.location = "/";
                    }
                    else
                    {alert(data.message);}
                });
            }
        });
    })
    function loadList(){
        var html = "";
        $.post("/default/system/getsflist",function(data){
            //alert(JSON.stringify(data))
            if(data.returncode=="100100000"){
                $.each(data.data, function (idx, item) {
                    var v = item.SMB_AVAILABLE=="yes"?"可见":"不可见";
                    html+="<tr prv='"+item.SMB_SID+"'>";
                //    html+="<td class='GroupName'>"+item.SMB_SID+"</td>";
                    html+="<td class='GroupName'>"+item.SMB_FOLDER_NAME+"</td>";
                    html+="<td class='Capacity'>"+v+"</td>";
                    html+="<td class='Description'> <table class=\"i\"><tr><td class=\"tf\"><div class=\"txt_hidden\">"+item.SMB_COMMENT+"</div></td></tr></table></td>";
//                    html+="<td class=\"operation\"> <a class=\"btn6 removeShareBtn\" title=\"取消共享\">取消共享</a> <a class=\"btn3\" title=\"编辑\" href=\"sharefolderedit.html?id="+ item.id  +"\">编辑</a> <a class=\"btn5 btnDel\" title=\"删除\">删除</a> </td>";
                    html+="<td class=\"operation\"><a class=\"btn3\" title=\"编辑\" href=\"sharefolderedit.html?id="+ item.SMB_SID  +"\">编辑</a> <a class=\"btn5 btnDel\" title=\"删除\">删除</a> </td>";
                    html +="</tr>";
                })
                $("#grouplist").html(html);
            }
            else if(data.returncode == "100102246"){
                alert(data.message)
                window.parent.location = "/";
            }
            else
            {alert(data.message);}
        },"json");
    }
</script>
{% endblock %}


