{% extends "Default/Shared/ContentMaster.html"%}

<!--标题-->
{% block title %}
<title>新建用户组 - MiniNas管理系统</title>
{% endblock %}
<!--css-->
{% block css %}
{% endblock %}
<!--javascript-->
{% block javascript %}
{% endblock %}

{% block body %}
<div class="road">
    <span class="suninfo_str">系统管理 > 系统设置 > 迅雷设置</span>
</div>
<div class="rtgy-box">
    <h3>迅雷设置</h3>
    <div class="systemRt-cont4" id="systemRt-cont">
        <div class="rightCol">
            <div class="set pbt_50">
                <div class="Description_content">
                    <p id="code"></p>
                </div>
                <div class="sure_btn mlf_180 mtp_48">
                    <input type="button" class="getBtn mrt_20" id="getBtn" value="获取激活码" >
                    <a class="jumpBtn mrt_20" href="http://yuancheng.xunlei.com/" target="_blank">跳转到迅雷</a>
                    <input type="button" class="unbindBtn" id="unbindBtn" value="解除绑定">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block popup %}
<div id="popupLayer_StatusView" class="popup-layer">
    <div id="popupLayerBox_StatusView" class="popup-layer-box StatusView" style="overflow:hidden;">
        <i id="closePopupLayer_StatusView" class="close-popupLayer none"></i>
        <div style="text-align:center;">
            <img src="/static/images/Default/public/loading.gif" style="vertical-align:middle; width:30px; height:30px;" />
            <span id="viewText" style=" margin-left:10px;">正在获取激活码，请耐心等待，不要进行其它操作......</span>
        </div>
    </div>
</div>
{% endblock %}


{% block footerJavascript %}
<script>
    $(function() {
        $('#systemRt-cont').niceScroll({
            cursorcolor: "#999",
            cursoropacitymax: 1,
            touchbehavior: false,
            cursorwidth: "5px",
            cursorborder: "0",
            cursorborderradius: "5px"
        });
        $("#unbindBtn").hide();
        $("#getBtn").click(function() {
            $.ajax({
                url: '/default/system/thunderkey',
                type: 'post',
                timeout: 150000,
                beforeSend: function(XMLHttpRequest) {
                    Popup.init('closePopupLayer_StatusView', 'popupLayer_StatusView', 'popupLayerBox_StatusView');
                    Popup.popup();
                    $("#viewText").text("正在获取激活码，请耐心等待，不要进行其它操作......")
                },
                success: function(data, textStatus) {

                    if(data.data.name==null){
                        $("#code").text(data.data.code);
                    }
                    else{
                        $("#code").text("已绑定的迅雷用户为: "+data.data.name);
                        alert("迅雷已在其它终端绑定或者出现错误,请先解除绑定")
                        $("#unbindBtn").show();
                        $("#getBtn").attr("disabled","disabled");
                        $("#getBtn").css("background","#ccc");
                    }
                    $("#closePopupLayer_StatusView").click();
                },
                complete: function(XMLHttpRequest, textStatus) {

                    $("#viewText").text("执行完成!!!");
                    $("#closePopupLayer_StatusView").click();
                    $("#getBtn").attr("disabled","disabled");
                    $("#getBtn").css("background","#ccc");
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    // alert("出错了.--txtStatus:"+textStatus +" xmlhttprequest:"+XMLHttpRequest.statusText +"  errorthrown:"+errorThrown);
                    $("#closePopupLayer_StatusView").click();
                    alert("获取讯雷激活码超时!请检查您的网络或重新获取!");
                }
            });
        })

        $("#unbindBtn").click(function(){
            $.ajax({
                url:'/default/system/thunderunbound',
                type: 'post',
                timeout: 150000,
                beforeSend: function(XMLHttpRequest) {
                    Popup.init('closePopupLayer_StatusView', 'popupLayer_StatusView', 'popupLayerBox_StatusView');
                    Popup.popup();
                },
                success: function (data) {
                    if(data.returncode=="100100000"){
                        alert("迅雷绑定已解除,请重新获取激活码！");
                    }
                    else if(data.returncode == "100102246"){
                        alert(data.message)
                        window.parent.location = "/";
                    }
                    else
                    {alert(data.message);}
                },
                complete: function(XMLHttpRequest, textStatus) {
                    $("#viewText").text("执行完成!!!");
                    $("#closePopupLayer_StatusView").click();
                    $("#getBtn").removeAttr("disabled");
                    $("#unbindBtn").hide();
                    $("#code").html("");
                    $("#getBtn").css("background","url(/static/images/Default/public/win_rt_btn.png) no-repeat 0 0");
                }
            })
        })

    })
</script>
{% endblock %}


