{% extends "Default/Shared/Master.html"%}


<!--标题-->
{% block title %}
<title>迅雷远程 - MiniNas管理系统</title>
{% endblock %}
<!--css-->
{% block css %}
<link href="/static/css/Default/pager.css" rel="stylesheet" />
{% endblock %}
<!--javascript-->
{% block javascript %}
<script src="/static/js/pager/jquery.pager.js"></script>
{% endblock %}


<!--左边导航-->
{% block left %}
<div><a href="/default/thunderdownload/index.html"  title="返回根目录"><img src="/static/images/Default/public/logo-thunder.png" /></a> </div>
<div class="search">
    <input id="txtSearch" class="input"  maxlength="30" style="color:#ccc;" value="请输入关键字" onfocus="if(value=='请输入关键字') {value=''}" onblur="if (value=='') {value='请输入关键字'}" />
    <i id="btnSearch"></i>
</div>
<div class="lefttitle">
    <span><a href="/default/thunderdownload/index.html" title="返回根目录" style="color:#333;">文件列表</a></span>
    <i id="btnAddFolder" title="新建"></i>
</div>
<div class="treelist" id="treelist" avl="0">
    <ul>
    </ul>
</div>
{% endblock %}

<!--右边主体-->
{% block right %}
<div class="itemHeader plf_42">
    <ul>
        <li class="li1" style="display:none;"><i></i></li>
        <li class="li2" style="display:none;" id="ToThunder"><i></i>内嵌页面测试</li>
        <li class="li3" style=" " id="getCode"><i></i><span>获取激活码</span></li>
        <li class="li4" id="UploadPhotoFile"><i></i><span>进入迅雷远程下载</span></li>
    </ul>
</div>
<div class="mianHeader plf_42">
    <a href="/default/thunderdownload/index.html" title="返回根目录" style="color:#666;">文件列表</a><span id="selectFolder"> </span>
</div>
<div id="listItems" class="listItems thunder photoTab">
    <div class="thTitle">
        <table>
            <tr style="background-color:#e5e5e5">
                <th class="ck">
                    <div class="checkbox">
                        <input id="checkAll" type="checkbox" class="checkAll" name="checkAll" autocomplete="off">
                        <label for="checkAll"></label>
                    </div>
                </th>
                <th class="listFileName">
                    <table class="i">
                        <tr>
                            <th class="tf">
                                <div class="txt_hidden">名称</div>
                            </th>
                        </tr>
                    </table>
                </th>
                <th class="tyle">类型</th>
                <th class="size">大小</th>
                <!-- <th class="upload-time">上传时间</th> -->
                <th class="operation">操作</th>
            </tr>
            <tr style="height:16px;"></tr>
        </table>
    </div>
    <div class="rtgy-cont" id="rtgy-cont">
        <table>
            <tbody id="fileList">
            </tbody>
        </table>
    </div>
    <script type="text/javascript">
        $("#treelist,#rtgy-cont,#thumbItems").niceScroll({
            cursorcolor: "#999",
            cursoropacitymax: 1,
            touchbehavior: false,
            cursorwidth: "5px",
            cursorborder: "0",
            cursorborderradius: "5px"
        });
    </script>

    <div id="pager" class="paginations"></div>
    <div class="footOpertion">
        <div class="checkbox">
            <input id="checkAll2" type="checkbox" name="checkAll" class="checkAll" autocomplete="off">
            <label for="checkAll2"></label>
        </div>
        <span id="btn-deletes">删除</span>
        <span id="btn-downloads" style="display:none;">下载</span>

    </div>
</div>
{% endblock %}

<!--弹窗相关杂项-->
{% block popup %}
<div id="popupLayer_Upload" class="popup-layer">
    <div id="popupLayerBox_Upload" class="popup-layer-box uploadPhoto" style="overflow:hidden;">
        <i id="closePopupLayer_Upload" class="close-popupLayer"></i>

        <div id="turl">
        </div>
    </div>
</div>
<div id="popupLayer_Move" class="popup-layer">
    <div id="popupLayerBox_Move" class="popup-layer-box moveFolder" style="overflow:hidden;">
        <i id="closePopupLayer_Move" class="close-popupLayer"></i>
        <iframe src="" id="ifmove" scrolling="no" style="border:0px; width:100%; height:360px; padding-bottom:20px;"></iframe>
    </div>
</div>
{% endblock %}


{% block footerJavascript %}

<script>


var pagecount = 0;
var indexPath = "";
var folderPath = "";   //        admin/
var tmpOldName = "";
var tmpOldPath = "";
var keyword = "";  //搜索关键字
var indexType = 0;  //  0:其它 1:图片 2：视频 3：音频  4：~
var thunder=1;




jQuery(function ($) {

    //文件夹加载
    loadingfolderlist();
    lodingList(folderPath, 10, 1,indexType,keyword);

// 点击页码去掉全选按钮
    $('#pager').on('click', 'ul li',function(){
        var checked = $(this).is(":checked");
        $("input[type='checkbox'][name='checkAll']").prop("checked", checked);
    });

    $("#UploadPhotoFile").click(function() {

        window.open("http://yuancheng.xunlei.com/");
    });
    $("#getCode").click(function() {
        window.location.href = "/default/system/index?thunderset";
    });

    $('.treelist ul').on('click', 'li', function  (index, eleDom) {


        //解决ibtn-edit与li的 click事件冲突
        if($(this).children("input").attr("id") == "newtext")
        {
            $(this).removeClass('checked');
            return false;
        }


        $('.treelist ul li').each(function () {

            if ($(this).children("i").hasClass("ico-open-se")) {
                $(this).children("i").removeClass("ico-open-se");
                $(this).children("i").addClass("ico-open");

            }
            if ($(this).children("i").hasClass("ico-close-se")) {
                $(this).children("i").removeClass("ico-close-se");
                $(this).children("i").addClass("ico-close");
            }

            $(this).children("i").removeClass("ico-se");
            $(this).removeClass('checked');

        })



        var tagName = "";
         if ($(this).next().children().length != 0 )
        // if ($(this).next().get(0) != null)
            tagName = $(this).next().get(0).tagName.toLowerCase();

        if (tagName == "div") {

            $(this).children("i").removeClass("ico-open").addClass("ico-close-se");
            $(this).next("div").remove("div"); //移除中间元素防止重复

        } else {


            if ($(this).children("i").attr("class") != "ico" && $(this).children("i").attr("class").indexOf("ico-se")<0) {

                var avl = $(this).parent().attr("avl");//获取当前等级
                var margin = 20; //下一级位移的默认值
                $(this).next("div").remove("div"); //移除中间元素防止重复
                // if(!$(id).children("i").hasClass("ico-close-se"))
                $(this).children("i").removeClass("ico-close");
                $(this).children("i").addClass("ico-open-se");

                $(".treelist ul li").each(function () {
                    $(".treelist ul li").removeClass("checked");
                });

                $(this).addClass("checked");
                 // 去掉全选按钮
                 var checked = $(this).is(":checked");
                 $("input[type='checkbox'][name='checkAll']").prop("checked", checked);

                if (avl == null) {
                    avl = 1;
                }
                else {
                    avl = parseInt(avl) + 1;
                }
                var tempStr = "";
                var uppath = $(this).attr("pt");
                var id = this;

                datas = { filePath: indexPath+ uppath+"/",thunder:thunder };

                $.post("/default/filecenter/getfolderlist", datas, function (data, result) {
                    if (data.returncode == "100100000") {
                        var  dataObj = data.data;
                        // alert(JSON.stringify(data));
                        $.each(dataObj, function (idx, item) {
                            if (item.subfolder >0 ) {

                                tempStr += "<li pt=\"" + uppath + "/" + item.foldername + "" + "\" nv=\"" + item.foldername + "\"><i class=\"ico-close\" style='margin-left:" + (margin * avl) + "px;'></i>" + item.foldername.substr(0, 15);
                                tempStr += "<div>";
                                tempStr += "<i class=\"ibtn-edit mtp_10\" title=\"编辑\"></i>";
                                tempStr += "<i class=\"ibtn-delete mtp_10\" title=\"删除\"></i>";
                                tempStr += "</div></li>";
                            }
                            else {
                                tempStr += "<li pt=\"" + uppath + "/" + item.foldername + "" + "\" nv=\"" + item.foldername + "\"><i class=\"ico\" style='margin-left:" + (margin * avl) + "px;'></i>" + item.foldername.substr(0, 15);
                                tempStr += "<div>";
                                tempStr += "<i class=\"ibtn-edit mtp_10\" title=\"编辑\"></i>";
                                tempStr += "<i class=\"ibtn-delete mtp_10\" title=\"删除\"></i>";
                                tempStr += "</div></li>";
                            }

                        });
                        $(id).next("div").remove("div");
                        $(id).after("<div pt=\"" + uppath + "\"  avl=\"" + avl + "\">" + tempStr + "</div>");
                    }
                },'json');
            }
            else {
                $(this).children("i").addClass("ico-se");
                $(this).addClass('checked');
                 // 去掉全选按钮
                 var checked = $(this).is(":checked");
                 $("input[type='checkbox'][name='checkAll']").prop("checked", checked);
            }


        }


        folderPath = indexPath + $(this).attr("pt")+"/";
        $("#selectFolder").text("/" + $(this).attr("pt"));


        var t = folderPath.split('/')[1] ;
        var type =5;
        switch(t)
        {
            case "photo": indexType=1; break;
            case "video": indexType=2; break;
            case "music": indexType=3; break;
            default: indexType=5; break;
        }

        lodingList(folderPath, 10, 1,indexType,keyword);

    });

    //添加文件夹
    $("#btnAddFolder").click(function () {
        var count = 0;
        $(".treelist ul li").each(function () {

            if ($(this).hasClass("checked")) {
                var avl = $(this).parent().attr("avl") == null ? 0 : $(this).parent().attr("avl");
                if (avl == "4")
                {
                    alert("目前最多只支持创建5级目录!");
                    count++;
                    return;
                }
                var margin = 20;
                avl = parseInt(avl) + 1;

                /*单个文件夹新建子文件夹*/
                if($(this).hasClass('checked') && $(this).children("i").hasClass('ico-se')){
                    var pt = $(this).attr("pt");
                    $(this).after("<div pt='"+pt+"'></div>");
                }

                $(this).next("div").prepend("<li pt=''><i class=\"ico\" style='margin-left:" + (margin * avl) + "px;'></i><input type='text' id='newtext'></li>");
                count++;

            }
        });

        if(count<1){
            $(".treelist ul").prepend("<li ><i class=\"ico\"></i><input type='text' id='newtext'></li>");
        }
        $("#newtext").focus();
        $("#newtext").bind('blur', AddNewtext);
    });

    //checkbox全选按扭事件
    $(".checkAll").live("change", function () {
        var checked = $(this).is(":checked");
        $("input[type='checkbox'][name='checkOne']").prop("checked", checked);
        $("input[type='checkbox'][name='checkAll']").prop("checked", checked);
    });

    $(".checkbox input[type='checkbox'][name='checkOne']").live("change", function () {

        var checked = $(this).is(":checked");
        var flag = true;
        //全选 按扭的控制  -------------------------------
        if (!checked) { $("input[type='checkbox'][name='checkAll']").prop("checked", false); flag = false; }
        else {
            $("input[type='checkbox'][name='checkOne']").each(function () {
                if (!$(this).is(":checked")) { flag = false; }
            })
        }
        if (flag) $("input[type='checkbox'][name='checkAll']").prop("checked", true);
        //全选 按扭的控制  -------------------------------
    })

    //删除 文件
    $('.main-right #fileList').on('click', '.ibtn-delete', function (index, eleDom) {
        var fpath = $('#treelist').find('.checked').attr("pt");
        var filename = $(this).parents("tr").children('.listFileName').text();
        var type = $(this).parents("tr").children('.tyle').text();

        var datas = {fpath: fpath + "/" + filename + type }

        alert(JSON.stringify(datas));
        if (confirm("您确定要删除吗？")) {
            $.post("/default/system/thunderddel/", datas, function (data) {
                // alert(JSON.stringify(data));
                if (data.returncode == "100100000")
                    lodingList(folderPath, 10, 1,indexType,keyword);
                else
                    alert(data.message);
            },'json');
        }
    });

    //删除文件集合
    $("#btn-deletes").click(function () {
        var fpath = $('#treelist').find('.checked').attr("pt");
        
        var array = new Array();
        $("input[type='checkbox'][name='checkOne']").each(function () {

            if ($(this).is(":checked")) {
                var type = $(this).parents("tr").children('.tyle').text();
                var path = $(this).parents("tr").children('.listFileName').text();
                if (path != null) {
                    array.push(fpath +'/'+ path+'.'+ type);
                }
            }
        })

        if (array.length > 0) {
            var datas = { fid: array.toString() };
            // alert(array.toString())
            if (confirm("您确定要删除吗？")) {
                $.post("/default/system/thunderddel/", datas, function (data, status) {
                    if (data.returncode == "100100000")
                        lodingList(folderPath, 10, 1,indexType,keyword);
                    else
                        alert(data.message);
                },'json');
            }
            var checked = $(this).is(":checked");
            $("input[type='checkbox'][name='checkAll']").prop("checked", checked);
        }
        else {
            alert("请选择要删除的内容");
            return;
        }

    });

    //移动文件
    $('.main-right #fileList').on('click', '.ibtn-opertion', function (index, eleDom) {

        // var id = $(this).attr("prv");
        // alert(id)
        var fpath = $('#treelist').find('.checked').attr("pt"); //当前文件所在路径
        var fname = $(this).parents("tr").children('.listFileName').text();
        var typee = $(this).parents("tr").children('.tyle').text();
        // alert(fpath)

        $("#ifmove").attr("src", "/default/filecenter/movefolder/?fpath="+ escape(fpath) +"&fname="+ escape(fname) + "&type="+ typee + "&option=xl");
        Popup.init('closePopupLayer_Move', 'popupLayer_Move', 'popupLayerBox_Move');
        Popup.popup();

    });

    //文件夹鼠标效果
    $(".treelist ul").on("mouseover", "li", function (index, eleDom) {
        var n = $(this).attr("pt");
        if (n.indexOf("download")<0)  //download为默认文件夹
            $(this).children("div").css("display", "block");
    })

    $(".treelist ul").on("mouseout", "li", function (index, eleDom) {
        $(this).children("div").css("display", "none");
    })

    //删除文件夹
    $(".treelist").on("click", ".ibtn-delete", function (index, eleDom) {
        var name = $(this).parent().parent().attr("pt");
        var datas = { name: indexPath+ name +"/"};
        // alert(indexPath+ name +"/");

        if (name =="downloads" || name == "music" || name == "photo" || name == "video") {
            alert("此文件夹为专用文件夹,不能删除!");
            loadingfolderlist();
            return false;
        }
           if (confirm("您确定要删除吗？")) {
            $.post("/default/photod/", datas, function(data) {
                if (data.returncode == "100100000") {
                    loadingfolderlist();
                    $("#selectFolder").text("");
                    $("#fileList tr").remove();
                    loadingfolderlist();
                } else
                    alert(data.message);
            }, 'json');
        }
    });

    //重命名文件夹
    $(".treelist").on("click", ".ibtn-edit", function (index, eleDom) {

        var oldName = $(this).parent().parent().attr("nv");
        var oldPath = $(this).parent().parent().attr("pt");
        var avl = $(this).parent().parent().parent().attr("avl") == null ? 0 : $(this).parent().parent().parent().attr("avl"); //获取等级标识
        var margin = 20;
        avl = parseInt(avl);

        $(this).parent().parent().html("<i class=\"ico\" style='margin-left:" + (margin * avl) + "px;'></i><input type='text' id='newtext'>");
        tmpOldName = oldName;
        tmpOldPath = indexPath+ oldPath +"/";
        // alert(indexPath+ oldPath +"/")

        $("#newtext").focus();
        $("#newtext").val(oldName);
        $("#newtext").bind('blur', renameNewtext);
        return;
    });

})


//获取文件夹列表
function loadingfolderlist()
{
    var datas = { filePath: indexPath ,thunder:thunder};

    $.post("/default/filecenter/getfolderlist", datas, function (data) {
        // alert(JSON.stringify(data));
        if (data.returncode == "100100000") {
            dataObj = data.data;
            $(".treelist ul li").remove();

            var t = "", tempFolder="";

            $.each(dataObj, function (idx, item) {
                if(idx==0)  tempFolder = item.foldername;
                if (item.subfolder >0 ) {
                    t += "<li pt=\"" + item.foldername + "\" nv=\"" + item.foldername + "\"><i class='ico-close'></i>" + item.foldername.substr(0, 20);
                    t += "<div>";
                    t += "<i class=\"ibtn-edit mtp_10\" title=\"编辑\"></i>";
                    t += "<i class=\"ibtn-delete mtp_10\" title=\"删除\"></i>";
                    t += "</div></li>";
                }
                else {
                    t += "<li pt=\"" + item.foldername + "\" nv=\"" + item.foldername + "\"><i class='ico'></i>" + item.foldername.substr(0, 20);
                    t += "<div>";
                    t += "<i class=\"ibtn-edit mtp_10\" title=\"编辑\"></i>";
                    t += "<i class=\"ibtn-delete mtp_10\" title=\"删除\"></i>";
                    t += "</div></li>";
                }
            });
            $(".treelist ul").append(t);

           /* 初始化默认选中TDDOWNLOAD文件夹 */
            // var nowpt = $('.treelist ul li:eq(0)').attr('pt')
            // var nowclass = $('.treelist ul li:eq(0)').children('i')
            // if(nowpt == tempFolder){
            //     $('.treelist ul li:eq(0)').addClass('checked')
            //     if(nowclass.hasClass('ico-close')){
            //         nowclass.removeClass('ico-close');
            //         nowclass.addClass('ico-close-se');
            //     }
            //     if(nowclass.hasClass('ico')) {
            //         nowclass.addClass('ico-se')
            //     }
            // }

        }
    },'json');
}

//获取文件列表
function lodingList(path,pageSize,pagenumber,type) {

    var datas = { filePath: path, pageSize: pageSize, pageNumber: pagenumber, thunder:thunder };

    $("#fileList tr").remove();
    // $("#fileList").append("<tr><td style='color:red;text-align:center;' colspan=\"7\">未找到显示的内容</td></tr>");
//alert(" filePath: "+path+", pageSize: "+pageSize+", pageNumber: pagenumber, type:"+type+",keyword:"+keyword+",thunder:"+thunder )
    $.ajax({
        url:"/default/system/getthunderfile",
        data:datas,
        datatype:"json",
        type:"post",
        async: true,
        success: function(data, textStatus) {

            var dataObj = data.data
            var pagecount = parseInt(dataObj["pageTotal"]);
            // alert (pagecount)
            var list = "";
            $.each(dataObj["rows"], function (idx, item) {
                var uploadedtime = item.uploadedtime == '' ? "0": item.uploadedtime;
                list += "<tr>" +
                        "<th class=\"ck\"><div class=\"checkbox\"><input id=\"chk_" +idx  + "\" type=\"checkbox\" name=\"checkOne\" title=\""+item.path+"\"><label for=\"chk_" + idx + "\"></label></div></th>" +
                        "<th class=\"listFileName\" id=\"listfilename\" title=\""+item.name+"\">"+item.name+"</th>" +
                        "<th class=\"tyle\">"+item.ext+"</th>" +
                        "<th class=\"size\">"+ bytesToSize(item.size)+"</th>" +
                        // "<th class=\"upload-time\">"+ item.uploadedtime +"</th>" +
                        "<th class=\"operation\"><span class='ibtn-delete' title=\"删除\" prv=\""+item.id+"\"></span>" +
                        "<a class=\"ibtn-down\" title=\"下载\" href='/default/tstaticdown/?filename="+path+item.name+item.ext+"'  download='" + item.name + "'>&nbsp;</a>" +
                        "<span class='ibtn-opertion' title=\" 移动\" prv='"+item.id+"' ></span></th>" +
                        "</tr>";
            });

            // 未找到显示内容及显示页码
            $("#fileList tr").remove();
            if(list.length>1)
                $("#fileList").append(list);
            else
                $("#fileList").append("<tr><td style='color:red;text-align:center;' colspan=\"7\">未找到显示的内容</td></tr>");

            if(pagecount>1) {

                $("#pager").pager({
                    pagenumber: pagenumber,
                    pagecount: pagecount,
                    buttonClickCallback: PageClick
                });

                $("#pager").css("display","block");
            }
            else
                $("#pager").css("display","none");

            $('.paginations').css('margin-left', -$('.paginations').width() / 2);
        }

    });

};

//  搜索
$('#txtSearch').blur(function () /*失去焦点时触发(清除关键字)*/
    { 
    if ($('#txtSearch').val() == '请输入关键字') { 
        keyword = "";
        lodingList(folderPath, 10, 1, indexType,keyword);
    } 
}) 
$("#btnSearch").click(function () {

    var searchName = $("#txtSearch").val().trim();
     if(searchName == "请输入关键字"){
        alert('请输入关键字')
        keyword = "";
        lodingList(folderPath, 10, 1, indexType,keyword);
        return false;
    }
    // alert(searchName);
    if (searchName.length > 20) {
        alert("搜索条件不合法,请控制在20个字符以内!");
        $("#txtSearch").val("");
        return false;
    }

    if (searchName.length > 0)
    {

        keyword = searchName;
        lodingList(folderPath, 10, 1, indexType,keyword);
    }
})

//新增文件夹操作
function AddNewtext() {

    // // 获得当前目录所有文件名称
    // var arrAddnew = new Array();
    // var ele = $('.treelist ul').children('li');
    // ele.each(function(index,element) {
    //     arrAddnew.push(element.getAttribute('pt'));
    //     // console.log(element.getAttributeNode('pt'))
    //     // console.log(arrAddnew)
    // });


    var txt = $("#newtext").val().trim();
    // var hastext = $.inArray(txt,arrAddnew);//inarry方法判断名称是否存在数组中
    if (txt.length < 1) {
        $("#newtext").parent().remove();
    }
    else {
        if (txt.length < 3) {
            alert("新增目录名称必须大于3个字符");
            $("#newtext").focus();
        }
        else if (txt.length > 30)
        {
            alert("新增目录名称必须小于30个字符");
            $("#newtext").focus();
        }
        else if (txt.toLocaleLowerCase()=="downloads") {
            alert("Downloads为专用文件夹,不允许添加!");
            $("#newtext").focus();
        }
        // else if(hastext>-1){
        //     alert("文件已存在，不能添加");
        //     $("#newtext").focus();
        // }

        else {
            // alert(2);
            var pt = $(this).parent().parent().attr("pt") == null ? "" : $(this).parent().parent().attr("pt") + "/";

            var datas = { name:indexPath+ pt + txt };
            // alert(indexPath+ pt + txt);
            $.post("/default/photoa/", datas, function (data) {

                if (data.returncode =="100100000")
                    loadingfolderlist();
                else
                    alert(data.message);
                $("#newtext").focus();
            },'json');

        }
    }
}


//重命名文件夹
function renameNewtext() {

    var txt = $("#newtext").val().trim();

    if (txt.length < 1 || tmpOldName == txt) {

        // $(".treelist ul li:last-child").remove();
        //暂时先刷新
        window.location = "";
    }
    else {
        if (txt.length < 3) {
            alert("目录名称必须大于3个字符");
            $("#newtext").focus();
        }
        else if (txt.length > 30) {
            alert("目录名称必须小于30个字符");
            $("#newtext").focus();
        }
        else if (txt.toLocaleLowerCase() == "downloads") {
            alert("Downloads为专用文件夹,不允许修改!");
            $("#newtext").focus();
        }
        else {
            // var pathName = $("#newtext").parent().attr("title");
            var datas = { oldName: tmpOldPath, newName: txt + "/"  };

            $.post("/default/system/thunderdrename", datas, function (data,result) {
                // alert(JSON.stringify(data));
                if (data.returncode == "100100000")
                    loadingfolderlist();
                else
                    alert(data.message);
                $("#newtext").focus();
            },'json');

        }
    }
}



PageClick = function (pageclickednumber) {
    //$("#pager").pager({ pagenumber: pageclickednumber, pagecount: pagecount, buttonClickCallback: PageClick });

    lodingList(folderPath, 10, pageclickednumber,indexType,keyword);

}
//上传文件后子页面关闭事件
function parentClick() {
    Popup.closepopup();
    lodingList(folderPath, 10, 1,indexType,keyword);
}

//移动文件夹子页面取消按扭
function parentClickbyMove() {
    Popup.closepopup();
    lodingList(folderPath, 10, 1, indexType,keyword);
    loadingfolderlist(); 
}

// document.onkeydown = function (event) {
//     var e = event || window.event || arguments.callee.caller.arguments[0];

//     if (e && e.keyCode == 13) { // enter 键

//         // if(!$( "#treelist:has(input)" ).length==0)
//         // {
//         //     //$("#newtext").bind('blur', renameNewtext);
//         // }
//         // else{
//         //     //要做的事情
//         //     // $("#btnSearch").click(); return false;
//         // }
//     }
// };
// function EnterPress(e)
//         {
//             var e=event.srcElement;
//             if(event.keyCode==13)
//             {
//             document.getElementById("btnSearch").click();
//             return false;
//             }
//         }
document.onkeydown = function (event)
{
    var e=event || window.event || arguments.callee.caller.arguments[0];
    if (e && e.keyCode == 13)
    {
        document.getElementById("btnSearch").click();
        return false;
    }
}

$("#newtext").keydown(function(event){
    if(event.keyCode == 13){
        $("#newtext").blur();
        alert('ddddd')
    }
});




</script>

{% endblock %}