@{
    ViewBag.Title = "WinViewConfig";
    Layout = "~/Views/Templates/Discuz/Shared/_SystemLayout.cshtml";
}


 
        <div class="road">
            <span class="suninfo_str">首页</span> 
        </div>
        <!-- 外层Title 内容 -->
<div class="rtgy-box">
    <div class="rtgy-cont">
        <!-- 总览 -->
        <div class="zl_content" style="display:block;">
            <h3>共享与权限</h3>
            <ul class="funlist">
                <li>
                    <a href="/System/WinViewConfig"><span class="span_img span_img1"></span><span class="span_txt">Win访问设置</span></a>
                </li>
                <li>
                    <a href="/System/FtpViewConfig"><span class="span_img span_img2"></span><span class="span_txt">FTP访问设置</span></a>
                </li>
                <li>
                    <a href="/System/UserList"><span class="span_img span_img3"></span><span class="span_txt">用户</span></a>
                </li>
                <li>
                    <a href="/System/UserGroup"><span class="span_img span_img4"></span><span class="span_txt">用户群组</span></a>
                </li>
                <li>
                    <a href="/System/ShareFolder"><span class="span_img span_img5"></span><span class="span_txt">共享文件夹</span></a>
                </li>
            </ul>
            <h3>存储设置</h3>
            <ul class="funlist">
                <li>
                    <a href="/System/DiskManagement"><span class="span_img span_img6"></span><span class="span_txt">磁盘管理</span></a>
                </li>
                <li>
                    <a href="/System/DiskCouponManagement"><span class="span_img span_img7"></span><span class="span_txt">磁盘卷管理</span></a>
                </li>
            </ul>
            <h3>系统设置</h3>
            <ul class="funlist">
                <li>
                    <a href="/System/NetworkSetup"><span class="span_img span_img8"></span><span class="span_txt">系统网络设置</span></a>
                </li>
                <li>
                    <a href="/System/TimeAreaSetup"><span class="span_img span_img9"></span><span class="span_txt">时间区域设置</span></a>
                </li>
                @*<li>
                    <a href="/System/LanguageSetup"><span class="span_img span_img10"></span><span class="span_txt">语言设置</span></a>
                </li>*@
                <li>
                    <a href="/System/PowerSupplySetup"><span class="span_img span_img11"></span><span class="span_txt">电源设置</span></a>
                </li>
                @*<li>
                    <a href="/System/ExternalSetup"><span class="span_img span_img12"></span><span class="span_txt">外接设备设置</span></a>
                </li>*@
                <li>
                    <a href="/System/AnUpgradeSetup"><span class="span_img span_img13"></span><span class="span_txt">升级系统</span></a>
                </li>
                <li>
                    <a href="/System/RestoreDefaultSetup"><span class="span_img span_img14"></span><span class="span_txt">恢复默认设置</span></a>
                </li>
                <li>
                    <a href="/System/ResourcesMonitor"><span class="span_img span_img15"></span><span class="span_txt">资源监控</span></a>
                </li>
                <li>
                    <a href="/System/ThunderSet"><span class="span_img span_img15"></span><span class="span_txt">迅雷设置</span></a>
                </li>
            </ul>
        </div>
        <!-- 共享与权限 -->
        <div class="zl_content">
            <h3>共享与权限</h3>
            <ul class="funlist">
                <li>
                    <a href="/System/WinViewConfig"><span class="span_img span_img1"></span><span class="span_txt">Win访问设置</span></a>
                </li>
                <li>
                    <a href="/System/FtpViewConfig"><span class="span_img span_img2"></span><span class="span_txt">FTP访问设置</span></a>
                </li>
                <li>
                    <a href="/System/UserList"><span class="span_img span_img3"></span><span class="span_txt">用户</span></a>
                </li>
                <li>
                    <a href="/System/UserGroup"><span class="span_img span_img4"></span><span class="span_txt">用户群组</span></a>
                </li>
                <li>
                    <a href="/System/ShareFolder"><span class="span_img span_img5"></span><span class="span_txt">共享文件夹</span></a>
                </li>
            </ul>
        </div>
        <!-- 存储设置 -->
        <div class="zl_content">
            <h3>存储设置</h3>
            <ul class="funlist">
                <li>
                    <a href="/System/DiskManagement"><span class="span_img span_img6"></span><span class="span_txt">磁盘管理</span></a>
                </li>
                <li>
                    <a href="/System/DiskCouponManagement"><span class="span_img span_img7"></span><span class="span_txt">磁盘卷管理</span></a>
                </li>
            </ul>
        </div>
        <!-- 系统设置 -->
        <div class="zl_content">
            <h3>系统设置</h3>
            <ul class="funlist">
                <li>
                    <a href="/System/NetworkSetup"><span class="span_img span_img8"></span><span class="span_txt">系统网络设置</span></a>
                </li>
                <li>
                    <a href="/System/TimeAreaSetup"><span class="span_img span_img9"></span><span class="span_txt">时间区域设置</span></a>
                </li>
                <li>
                    <a href="/System/PowerSupplySetup"><span class="span_img span_img11"></span><span class="span_txt">电源设置</span></a>
                </li>
                <li>
                    <a href="/System/AnUpgradeSetup"><span class="span_img span_img13"></span><span class="span_txt">升级系统</span></a>
                </li>
                <li>
                    <a href="/System/RestoreDefaultSetup"><span class="span_img span_img14"></span><span class="span_txt">恢复默认设置</span></a>
                </li>
                <li>
                    <a href="/System/ResourcesMonitor"><span class="span_img span_img15"></span><span class="span_txt">资源监控</span></a>
                </li>
                <li>
                    <a href="/System/ThunderSet"><span class="span_img span_img15"></span><span class="span_txt">迅雷设置</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
        
<script>

    $(function () {

        var url = window.location.href;
        var p = url.split('/');
        var index = p[p.length - 1];

        if (!isNaN(index)) {
            $(".rtgy-box .zl_content").eq(index).show().siblings().hide();

            var xL_mean_li = $(".ztree_ul .ztree_li")
            xL_mean_li.eq(index).children("ul").toggle();
            xL_mean_li.eq(index).children(".ztree_a").children(".ztree_icon").addClass("li_zk");
            // $(this).parent()
        }
    })
</script>         