@{
    ViewBag.Title = "InsideUserGroupEdit";
    Layout = "~/Views/Templates/Discuz/Shared/_SystemLayout.cshtml";
}

<div class="road">
    <span class="suninfo_str">首页 > 共享与权限 > 用户群组</span>
</div>
<div class="rtgy-box">
    <div class="rtgy-cont">
        <h3>用户群组 - 编辑</h3>
        <div class="set">
            <h5>基础设置</h5>
            <div class="group clear">
                <label class="suninfo_cont_str">名称：</label>
                <input type="text" class="w200" value="aa">
                <span class="msg"><font>*</font>用户群组名称。【小写英文, 数字, 下划线， 短横线，英文开头】</span>
            </div>
            <div class="group clear">
                <label class="suninfo_cont_str">描述：</label>
                <textarea class="text_box w200"></textarea>
                <span class="msg"><font></font></span>
            </div>
        </div>
        <div class="btnBox">
            <a class="save">保存</a>
            <a class="cancel">取消</a>
        </div>
    </div>
</div>

