@{
    ViewBag.Title = "InsideUserEdit";
    Layout = "~/Views/Templates/Discuz/Shared/_SystemLayout.cshtml";
}

<div class="road">
    <span class="suninfo_str">首页 > 共享与权限 > 用户</span>
</div>
<div class="rtgy-box">
    <div class="rtgy-cont">
        <h3>用户 - 编辑</h3>
        <div class="set">
            <h5>基础设置</h5>
            <div class="group clear">
                <label class="suninfo_cont_str">账户：</label>
                <input type="text" class="w200" value="aa">
                <span class="msg"><font>*</font>登录用户名。(不能与共享重名)【小写英文, 数字, 下划线， 短横线，英文开头】</span>
            </div>
            <div class="group clear">
                <label class="suninfo_cont_str">真实姓名：</label>
                <input type="text" class="w200" value="aa">
                <span class="msg"><font>*</font>用户全名。【中文, 英文, 数字, 下划线】</span>
            </div>
            <div class="group clear">
                <label class="suninfo_cont_str">电子邮件：</label>
                <input type="text" class="w200" maxlength="15" value="aaaa@qq.com">
                <span class="msg"></span>
            </div>
        </div>
        <div class="set">
            <h5>高级设置</h5>
            <div class="group clear">
                <label class="suninfo_cont_str">配额：</label>
                <input type="text" class="w200" value="aa">
                <span class="msg"><span class="txt_lf">GB</span><font>*</font>登录用户名。(不能与共享重名)【小写英文, 数字, 下划线， 短横线，英文开头】</span>
            </div>
        </div>
        <div class="btnBox">
            <a class="save">保存</a>
            <a class="cancel">取消</a>
        </div>
    </div>
</div>

