@{
    ViewBag.Title = "PowerSupplySetup";
    Layout = "~/Views/Templates/Discuz/Shared/_SystemLayout.cshtml";
}

<div class="road">
    <span class="suninfo_str">系统管理 > 系统设置 > 电源设置</span>
</div>
<div class="rtgy-box">
    <div class="rtgy-cont">
        <h3>电源设置</h3>
        <div class="set">
            <h5 class="add_mtp">开关机管理</h5>
            <div class="Description_content">
                <p>立即执行重新启动/关机</p>
            </div>
        </div>
        <div class="btnBox">
            <a class="restart">重新启动</a>
            <a class="shutDown">关机</a>
        </div>
    </div>
</div>

