@{
    ViewBag.Title = "RestoreDefaultSetup";
    Layout = "~/Views/Templates/Discuz/Shared/_SystemLayout.cshtml";
}

<div class="road">
    <span class="suninfo_str">首页 > 系统设置 > 恢复默认设置</span>
</div>
<div class="rtgy-box">
    <div class="rtgy-cont">
        <h3>恢复默认设置</h3>
        <div class="set">
            <h5>恢复默认设置</h5>
            <div class="Description_content">
                <p>若要恢复设定，请按下 '重置' 以恢复出厂设定值。</p>
                <p><span>警告：若按 [重置] ，所有硬盘数据、用户账号、网络磁盘及系统设定等会全部删除并回复至默认值。请先备份系统内的数据及设定，再进行重置。</span></p>
            </div>
        </div>
        <div class="btnBox">
            <a class="save">重置</a>
        </div>
    </div>
</div>

